body {
    background: antiquewhite;
    font-family: cursive;
}
.sobre-mim {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1, h2 {
    background: #6D597A;
    color: white
}
li {
    font-size: 1.05em;
    color:rgb(29, 29, 29);
}
a {
    text-decoration: none;
}
a:hover {
    color:rgb(170, 49, 160)
}
p {
    font-weight: lighter;
}
span {
    font-size: 1.2em;
    font-weight: bold;
}
